@import "~antd/dist/antd.css";

#root,
.App {
  height: 100%;
}

.not-found-wrap {
  min-height: 100%;
  text-align: center;
}

.header {
  text-align: center;
  padding: 20px;
}

.btn {
  margin: 20px 0;
}

.img-box {
  display: inline-block;
  padding: 100px;
  animation: myfirst 5s;
  animation-iteration-count: infinite;
}

@keyframes myfirst {
  0% {
    transform: scale(1, 1);
  }
  /* 50% {
    transform: scale(1.05, 1.05);
  } */
  100% {
    transform: scale(1.1, 1.1);
  }
}
